[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "L1pack"]
	path = L1pack
	url = https://github.com/faosorios/l1pack
[submodule "MVT"]
	path = MVT
	url = https://github.com/faosorios/mvt
[submodule "SpatialPack"]
	path = SpatialPack
	url = https://github.com/cran/SpatialPack
[submodule "fastmatrix"]
	path = fastmatrix
	url = https://github.com/faosorios/fastmatrix
	subdir = pkg
[submodule "india"]
	path = india
	url = https://github.com/cran/india
